app.environment=development
app.production=false  # change to true for production environments

# Environment variables for the application (with AUTH_GUARDIAN prefix)
AUTH_GUARDIAN_APP_ENVIRONMENT=development
AUTH_GUARDIAN_APP_PRODUCTION=false 